@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  scrollbar-width: thin;
  scrollbar-color: #111344 #242424;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Configuração das imagens das skills */
.skill {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-out, transform 1s ease-out;
}
.skill.visible {
  opacity: 1;
  transform: scale(1);
}

/* Configuração das divs das skills */
.skills {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
.skills:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease-out;
}